
<script src="custom-js/jquery-3.6.0.min.js"></script>
 <!--div class="container box col-xxl-8 ">
    <div class="row">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-6  col-lg-6">
        <img src="images/logo1.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-6 col-lg-6">
        <h1 class="display-5 fw-bold mb-1">Welcome to VoC</h1>
        <p class="lead1">A place where customers voice their opinion, and a place that makes those opinions to be heard</p>
        <div class=" d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary px-4 me-md-2">Primary</button>
          <button type="button" class="btn btn-outline-secondary  px-4">Default</button>
        </div>
      </div>
    </div>
    </div>
  </div-->

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-1 py-5">
      <div class="col-12 col-sm-8 col-lg-6">
        <img src="images/logo1.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Welcome to InsightHive</h1>
        <p class="lead1">Revolutionizing Customer feedback</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class=" btn btn-b-n btn-lg rounded " data-bs-toggle="modal" data-bs-target="#exampleModalLong">
            <span>Click here to search for product/service</span>
            <i class="bi bi-search"></i>
          </button>
        </div>
      </div>
    </div>
  </div>


 <div class="modal  fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                <!--/ Form Search Star /-->
                        <div class="title-box-d">
                        <h3 class="title-d">Search Product/Service</h3>
                        </div>
                        <div class="form">
                        <form class="form-a" action="/searchResults" method="post">
                            <div class="row">
                            <div class="col-md-12 mb-2">
                                <div class="form-group">
                                <label class="pb-2" for="name">Name</label>
                                <input type="text" class="form-control form-control-lg form-control-a" placeholder="name" name="name">
                                </div>
                            </div>
                            <div class="col-md-6 mb-2">
                                <div class="form-group mt-3">
                                <label class="pb-2" for="location">Town</label>
                                <select class="form-control form-select form-control-a" id="city">
                                    <option value="limbe">Limbe</option>
                                    <option value="bamenda">Bamenda</option>
                                    <option value="yaounde">Yaounde</option>
                                    <option value="douala">Douala</option>
                                    <option value="buea">Buea</option>
                                    <option value="baffoussam">Baffoussam</option>
                                </select>
                                </div>
                            </div>
                            
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-b">Search</button>
                            </div>
                            </div>
                        </form>
                        </div>
                    <!-- End Property Search Section -->
                 </div>
            </div>
    </div>
</div>
<script>
  $document.ready(function(){
    let tochange2=document.querySelector('.tochange3')
        tochange2.classList.add('active1')
  })
</script>

