<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doc</title>
    <link href="style.css" rel="stylesheet" type="text/css" >
</head>
<body>
   

    <div class="form">
    <form method="post" action="/add">
        <p>Type</p>
        <select name="type">
            <option value="product">product</option>
            <option value="service">service</option>
        </select>
        <p>name</p>
        <input name="name" type="text">
        <p>owner</p>
        <input name="owner" type="text">
        <p>distribution areas</p>
        <input name="distributionAreas" type="text">
        <input name="distributionAreas" type="text">
        <input name="distributionAreas" type="text">
        <p>pricing</p>
        <input name="pricelowest" type="text">
        <input name="pricemedium" type="text">
        <input name="pricehighest" type="text">
        <p>rating</p>
        <input type="number" name="rating">
        <p> total rating</p>
        <input type="number" name="totalRatings">
        <p>five</p>
        <input type="number" name="five">
        <p>four</p>
        <input type="number" name="four">
        <p>three</p>
        <input type="number" name="three">
        <p>two</p>
        <input type="number" name="two">
        <p><input type="submit" value="Submit"></p>
    </form>
    </div>
    

</body>
</html>