   
   <style>
    .intro-single{
        padding-top: 25px;
    }
   </style>
   
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">{{name}}</h1>
              <span class="color-text-a">{{owner}}</span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="title-box-d  mx-2">
      <h3 class="title-d">Quick Summary</h3>
    </div>
    <div class="summary-list">
                    <ul class="list">
                      <li class="d-flex justify-content-between mx-4">
                        <strong>Main Location:</strong>
                        <span>{{owner}}</span>
                      </li>
                      <li class="d-flex justify-content-between mx-4">
                        <strong>Owner:</strong>
                        <span>xxxxxxxxxxx</span>
                      </li>
                      <li class="d-flex justify-content-between mx-4">
                        <strong>Contact:</strong>
                        <span>+237 6--------</span>
                      </li>
                      <li class="d-flex justify-content-between mx-4">
                        <strong>Lowest Price:</strong>
                        <span>Unknown
                        </span>
                      </li>
                      <li class="d-flex justify-content-between mx-4">
                        <strong>Medium Price:</strong>
                        <span>Unknown
                        </span>
                      </li>
                      <li class="d-flex justify-content-between mx-4">
                        <strong>Highest Price:</strong>
                        <span>Unknown
                        </span>
                      </li>
                      <li class="d-flex justify-content-between mx-4">
                        <strong>Total number of reviews/ratings:</strong>
                        <span>Unknown</span>
                      </li>
                      <li class="d-flex justify-content-between mx-4">
                        <strong>Five:</strong>
                        <span>2</span>
                      </li>
                      <li class="d-flex justify-content-between mx-4">
                        <strong>Four:</strong>
                        <span>1</span>
                      </li>
                       <li class="d-flex justify-content-between mx-4">
                        <strong>three:</strong>
                        <span>1</span>
                      </li>
                       <li class="d-flex justify-content-between mx-4">
                        <strong>two:</strong>
                        <span>1</span>
                      </li>
                       <li class="d-flex justify-content-between mx-4">
                        <strong>Recent review:</strong>
                        <span>[object]</span>
                      </li>
                    </ul>
                  </div>
          <div class="col-md-12 mx-3">
            <div class="row">
              <div class="col-sm-12">
                <div class="title-box-d">
                  <h3 class="title-d">Owners contacts</h3>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-lg-4">
                <img src="" alt="Owner's image" class="img-fluid">
              </div>
              <div class="col-sm-6 col-lg-4">
                <div class="property-agent">
                  <ul class="list-unstyled">
                    <li class="d-flex justify-content-between">
                      <strong>Phone:</strong>
                      <span class="color-text-a">(237) 674048673</span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Whatsapp:</strong>
                      <span class="color-text-a">674048673</span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Email:</strong>
                      <span class="color-text-a">ownerofbusiiness@gmail.com</span>
                    </li>
                  </ul>
                  <div class="socials-a">
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a href="#">
                          <i class="bi bi-facebook" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#">
                          <i class="bi bi-instagram" aria-hidden="true"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>